mat-toolbar {
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.7);
}

.topbar {
    position: relative;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

a { 
   text-decoration: none;
   color: white;
}

a:active,
a:hover {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
   display: inline-block;
   padding-left: 6px;
}