<h1 class="title">Preguntas</h1>

<div class="test_questions">

    <div class="question" ng-if="questions">
        <!-- DESCOMENTAR CUANDO SE USEN TEXTOS INDEPENDIENTES POR PREGUNTA -->
        <!--h2>
            {{questions[question_id].text}}
        </h2-->
        <h2>
            Selecciona la casilla M en la opción que te sientas más idenfiticado y Me en la que te sientas menos idenfiticado.
        </h2>

        <ul>
            <li ng-repeat="(option_id, option) in questions[question_id].options"
                ng-if="option"
            >
                <div
                    class="answer type_M"
                    ng-visible="question_answer.Me != option_id"
                    ng-class="{checked: question_answer.M == option_id}"
                    ng-click="answer('M', option_id)">
                    M
                </div>
                <div
                    class="answer type_Me"
                    ng-visible="question_answer.M != option_id"
                    ng-class="{checked: question_answer.Me == option_id}"
                    ng-click="answer('Me', option_id)">
                    Me
                </div>
                <span class="text">{{option}}</span>
            </li>
        </ul>
        <div ng-click="next()" class="next_btn">
            Siguiente
        </div>
    </div>
    <div ng-if="!questions" class="loading">
        Cargando...
    </div>
</div>

<form [formGroup]="questionsForm">
    <mat-horizontal-stepper [linear]="isLinear" #stepperT="" formArrayName="steps" >     
            
                <mat-step *ngFor="let stepp of steps?.controls; let i=index" formGroupName="{{i}}" [stepControl]="steps?.get([i])">
                    <ng-template matStepLabel>Set opciones</ng-template>
                    <div fxLayout="column" fxLayoutAlign="center center"> 
                        <div fxLayout="row" fxLayoutAlign="space-around center">                       
                            <mat-form-field>
                                <input matInput placeholder="Opción 1" formControlName="o1" readonly>
                            </mat-form-field>
                            <mat-button-toggle-group formControlName="r1" aria-label="Font Style">
                                <mat-button-toggle value="M1">M</mat-button-toggle>
                                <mat-button-toggle value="Me1">Me</mat-button-toggle>
                            </mat-button-toggle-group> 
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center"> 
                            <mat-form-field>
                                <input matInput placeholder="Opción 2" formControlName="o2" readonly>
                            </mat-form-field>
                            <mat-button-toggle-group formControlName="r2" aria-label="Font Style">
                                <mat-button-toggle value="M1">M</mat-button-toggle>
                                <mat-button-toggle value="Me1">Me</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center"> 
                            <mat-form-field>
                                <input matInput placeholder="Opción 3" formControlName="o3" readonly>
                            </mat-form-field>    
                            <mat-button-toggle-group formControlName="r3" aria-label="Font Style">
                                <mat-button-toggle value="M1">M</mat-button-toggle>
                                <mat-button-toggle value="Me1">Me</mat-button-toggle>
                            </mat-button-toggle-group>   
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center">  
                            <mat-form-field>
                                <input matInput placeholder="Opción 4" formControlName="o4" readonly>
                            </mat-form-field>
                            <mat-button-toggle-group formControlName="r4" aria-label="Font Style">
                                <mat-button-toggle value="M1">M</mat-button-toggle>
                                <mat-button-toggle value="Me1">Me</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
<!--                     <mat-list *ngFor="let stepp222 of questions[i]">
                        <mat-list-item>{{ stepp222.s1 }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>{{ stepp222.s2 }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>{{ stepp222.s3 }}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>{{ stepp222.s4 }}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list> -->
                    <div>
                    <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
        
    </mat-horizontal-stepper>
</form>


  <br>Dirty: {{ questionsForm.dirty }}
<br>Touched: {{ questionsForm.touched }}
<br>Valid: {{ questionsForm.valid }}
<br>Value: {{ questionsForm.value | json }}