  /**************************************************************************************/
  /**********************************DISC-FE*********************************************/
  /**************************************************************************************/

html {
    position: absolute;  top: 0;  bottom: 0;  right: 0;  left: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
  }
  
  .header {
      background-color: rgb(51, 216, 255);
      color: white;
      padding: 10px 20px;
  }
  
  .header h1 {
      display: inline;
  }
  
  .header h2 {
      display: inline;
      opacity: 0.6;
      font-size: 24px;
      font-weight: 500;
  }
  
  .profile_widget {
      height: 40px;
      position: absolute;
      right: 10px;
      top: 10px;
  }
  
  .profile_widget .name {
      display: inline-block;
      vertical-align: sub;
  }
  
  .profile_widget .picture {
      position: relative;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-left: 10px;
      vertical-align: middle;
      overflow: hidden;
  }
  
  .profile_widget .picture img {
      width: 100%;
      height: auto;
  }
  
  .title {
      text-align: center;
      font-size: 64px;
      color: rgb(51, 216, 255);
      font-weight: 100;
  }
  
  .options {
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
  }
  
  .options li {
      display: inline-block;
      /* width: 200px; */
      /* padding: 25px; */
      /* background-color: rgb(51, 216, 255); */
      /* border-radius: 100px; */
      margin: 0 20px;
  }
  
  .options li a {
      position: relative;
      bottom: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      font-weight: 300;
      font-size: 24px;
      display: block;
      width: 200px;  padding: 25px;  background-color: rgb(51, 216, 255);  border-radius: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  }
  
  .options li a:hover {
      position: relative;
      bottom: 4px;
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.24);
  }
  
  #about {
    padding: 0px 40px;
    text-align: justify;
  }
  
  div#about {}
  
  [ng-view] {
      max-width: 800px;
      margin: auto;
  }
  
  #code {
      position: static;
      border: 0;
      border-bottom: 1px solid rgb(173, 173, 173);
      font-size: 28px;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      margin-top: 50px;
      font-weight: 700;
  }
  
  #enter_code {
      text-align: center;
  }
  
  .error {
      color: rgb(157, 69, 69);
      font-weight: 100;
      font-size: 18px;
      margin-top: 10px;
  }
  
  .test_intro {
      text-align: justify;
  }
  
  .test_intro .start  {
      position: relative;
      text-align: center;
      bottom: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      font-weight: 300;
      font-size: 24px;
      display: block;
      width: 200px;
      padding: 5px;
      background-color: rgb(51, 216, 255);
      border-radius: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
      margin: auto;
      margin-top: 85px;
  }
  
  .test_intro .start:hover {
      position: relative;
      bottom: 4px;
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.24);
  }
  
  .test_intro img.instruction-example {
      position: relative;
      right: 20px;
      display: block;
      height: 120px;
      border-radius: 5px;
      border: 2px solid rgb(51, 216, 255);
      margin: 5px auto;
      text-align: center;
  }
  
  .question {
      text-align: center;
  }
  
  @-webkit-keyframes fall {
      from {
        top: -30px;
        opacity: 0.2;
      }
      to {
        top: 0px;
        opacity: 1;
      }
  }
  
  @keyframes fall {
      from {
        top: -30px;
        opacity: 0.2;
      }
      to {
        top: 0px;
        opacity: 1;
      }
  }
  
  
  @-webkit-keyframes left_enter {
      from {
        left: -50px;
        opacity: 0.2;
      }
      to {
        left: 0px;
        opacity: 1;
      }
  }
  
  
  @keyframes left_enter {
      from {
        left: -50px;
        opacity: 0.2;
      }
      to {
        left: 0px;
        opacity: 1;
      }
  }
  
  .question h2 {
      position: relative;
      text-align: center;
      font-size: 38px;
      font-weight: 100;
      -webkit-animation: fall 1s;
      animation: fall 1s;
  }
  
  .question ul {
      list-style-type: none;
      padding: 0;
      margin: auto;
      margin-top: 50px;
  }
  
  .question li {
      position: relative;
      display: block;
      text-align: left;
      font-size: 24px;
      margin: 15px;
      margin-left: 15px;
      opacity: 0;
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-animation: left_enter 1s ease 1s forwards;
      animation: left_enter 1s ease 1s forwards;
  }
  
  /*
  .question li::before {
      position: absolute;
      left: -40px;
      bottom: -2px;
      content: "";
      padding: 15px;
      border-radius: 100%;
      background-color: rgb(165, 195, 202);
      opacity: 0.6;
      transition: all 0.3s ease;
  }
  */
  
  .question li .text {
      transition: all 0.3s ease;
  }
  
  .question li:hover .text{
      margin-left: 10px;
  }
  
  .question li:hover::before {
      background-color: rgb(51, 216, 255);
      opacity: 1;
  }
  
  .question .answer {
      transition: all 0.3s ease;
      display: inline-block;
      text-align: center;
      width: 45px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .question .answer.type_M {
      color: rgb(76, 238, 76);
  }
  
  .question .answer.type_Me {
      color: rgb(234, 89, 60);
  }
  
  .question .answer.checked {
      color: white;
  }
  
  .question .answer.checked.type_M {
      background-color: rgb(76, 238, 76);
  }
  
  .question .answer.checked.type_Me {
      background-color: rgb(234, 89, 60);
  }
  
  .next_btn {
      position: relative;
      bottom: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      float: right;
      margin-right: 40px;
      cursor: pointer;
      color: white;
      font-weight: 300;
      font-size: 18px;
      padding: 10px 20px;
      background-color: rgb(51, 216, 255);
      border-radius: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
      display: inline-block;
  }
  
  .next_btn:hover {
      position: relative;
      bottom: 4px;
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.24);
  }
  
  .results {
      padding-bottom: 40px;
  }
  
  .results p {
      text-align: center;
  }
  
  @media print {
      .results>div {page-break-inside: avoid;}
  }
  
  .results .conclusion {
      font-size: 32px;
      font-weight: 300;
      position: relative;
      -webkit-animation: fall 2s;
      animation: fall 2s;
  }
  
  .results .disc-graph {
      margin-bottom: 40px;
  }
  
  .results .download_pdf {
      position: relative;
      text-align: center;
      bottom: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      font-weight: 300;
      font-size: 24px;
      display: block;
      width: 350px;
      padding: 5px;
      background-color: rgb(51, 216, 255);
      border-radius: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
      margin: auto;
      margin-top: 85px;
  }
  
  .results .download_pdf:hover {
      position: relative;
      bottom: 4px;
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.24);
  }
  
  .results .go_back {
      position: relative;
      text-align: center;
      bottom: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: white;
      font-weight: 300;
      font-size: 24px;
      display: block;
      width: 200px;
      padding: 5px;
      background-color: rgb(116, 116, 116);
      border-radius: 100px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
      margin: auto;
      margin-top: 85px;
  }
  
  .results .go_back:hover {
      position: relative;
      bottom: 4px;
      box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.24);
  }
  
  .results .graphics {
      display: block;
      height: 300px;
  }
  
  .results .graphics > .disc-graphic-bar {
      width: 49%;
      height: 250px;
      display: inline-block;
      position: relative;
  }
  
  .results .graphics .legend-list {
      height: 50px;
      text-align: center;
  }
  
  .results .graphics .legend-list .legend {
      height: 100%;
      display: inline-block;
      margin: 0 10px;
      padding-top: 5px;
  }
  
  .results .graphics .legend-list .legend .color {
      display: inline-block;
      height: 36px;
      width: 36px;
      background: rgba(0, 0, 0, 0.59);
      border: 2px solid black;
      vertical-align: middle;
      border-radius: 5px;
      margin: 0 5px;
  }
  
  .results .graphics .legend-list .legend.D .color {
      background: rgba(254, 108, 108, 0.6);
      border: 2px solid rgb(254, 108, 108);
  }
  
  .results .graphics .legend-list .legend.I .color {
      background: rgba(255, 232, 43, 0.6);
      border: 2px solid rgb(255, 232, 43);
  }
  
  .results .graphics .legend-list .legend.S .color {
      background: rgba(121, 255, 121, 0.6);
      border: 2px solid rgb(121, 255, 121);
  }
  
  .results .graphics .legend-list .legend.C .color {
      background: rgba(128, 128, 233, 0.6);
      border: 2px solid rgb(128, 128, 233);
  }
  
  .results .graphics .legend-list .legend .desc {
      vertical-align: middle;
  }
  
  /* Directives */
  .disc-graphic-bar {
      width: 100%;
      border: 2px solid rgb(192, 243, 255);
      border-radius: 5px;
  }
  
  .disc-graphic-bar .description {
      font-size: 24px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 30px;
  }
  
  .disc-graphic-bar .bars {
      position: absolute;
      top: 35px;
      right: 10px;
      left: 10px;
      bottom: 5px;
  }
  
  .disc-graphic-bar .bar {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: rgba(255, 255, 255, 0.67);
      background: gray;
      border-radius: 5px 5px 2px 2px;
      width: 20%;
      height: 50%;
      font-size: 50px;
      transition: height 2s ease;
  }
  
  .disc-graphic-bar .bar.D {
      background: rgb(254, 108, 108);
      left: 2.5%;
  }
  
  .disc-graphic-bar .bar.S {
      left: 52.5%;
      background: rgb(121, 255, 121);
  }
  
  .disc-graphic-bar .bar.C {
      left: 77.5%;
      background: rgb(128, 128, 233);
  }
  
  .disc-graphic-bar .bar.I {
      left: 27.5%;
      background: rgb(255, 232, 43);
  }
  
  .disc-graphic-bar .bars:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -5px;
      left: -5px;
      height: 0;
      border: 1px solid rgba(51, 216, 255, 0.5);
  }

  /**************************************************************************************/